<a href="https://colab.research.google.com/github/chldkduds2/2023-schoolAiMachineLearning/blob/main/2023_03_09_%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Brith_year=input('태어난 연도를 입력하세요.')
print(Brith_year)
print(Brith_year+'년')
print(2023-int(Brith_year)+1,'세')

태어난 연도를 입력하세요.2006
2006
2006년
18 세

In [ ]:
num=int(input(''))
if num%3==0:
  print(num**2)
else:
  print(0)

9
81

In [ ]:

fruit=input('')
if fruit=='사과':
  print('Good~~')
elif fruit=='감':
  print('Very Good~~')
elif fruit=='귤':
  print('So so....')
else:
  print('사과나 감, 귤 중 하나를 입력하세요~~')

배
사과나 감, 귤 중 하나를 입력하세요~~

In [ ]:
a=input('')
if a=='사과'or a=='감':
  print('Very Good~~')
elif a=='귤'or a=='복숭아':
  print('Good~~')
else:
  print('사과나 감, 귤, 복숭아 중 하나를 입력하세요~~')

복숭아
Good~~

In [ ]:
print('1.짜장면 - 5,000원          2.짬뽕 - 6,000원\n3.군만두 - 8,000원          4.탕수육 - 10,000원 ')
menu=input('\n위 메뉴 중 주문할 메뉴의 번호를 쓰세요:')
menu_count=int(input('위 메뉴의 주문 수량을 쓰세요:'))

if menu=='짜장면':
  menu_price=5000*menu_count
elif menu=='짬뽕':
  menu_price=6000*menu_count
elif menu=='군만두':
  menu_price=8000*menu_count
elif menu=='탕수육':
  menu_price=10000*menu_count

print('\n주문하신 메뉴는 짜장면이고 주문 수량은',menu_count,'그릇이며 주문금액은',menu_price,'입니다')

1.짜장면 - 5,000원          2.짬뽕 - 6,000원
3.군만두 - 8,000원          4.탕수육 - 10,000원

위 메뉴 중 주문할 메뉴의 번호를 쓰세요:짜장면
위 메뉴의 주문 수량을 쓰세요:2

주문하신 메뉴는 짜장면이고 주문 수량은 2 그릇이며 주문금액은 10000 입니다

In [ ]:
kind=input('좌석 종류를 선택해 주세요:')

kind_price=['VIP',150000,'S',110000,'A',90000,'B',70000]

if kind=='VIP':
  print('해당 좌석은
',kind_price[0],'으로 가격은',kind_price[1],'원 입니다.')
elif kind=='S':
  print('해당 좌석은
',kind_price[2],'으로 가격은',kind_price[3],'원 입니다.')
elif kind=='A':
  print('해당 좌석은
',kind_price[4],'으로 가격은',kind_price[5],'원 입니다.')
elif kind=='B':
  print('해당 좌석은
',kind_price[6],'으로 가격은',kind_price[7],'원 입니다.')
else:
  print('해당 좌석은 표가 없는 잘 못된 좌석입니다.')

좌석 종류를 선택해 주세요:A
해당 좌석은 A 으로 가격은 90000 원 입니다.

In [ ]:
from ast import Break
kind=input('좌석 종류를 선택해 주세요:')

seat_kind=['VIP','S','A','B']
kind_price=[150000,110000,90000,70000]

n=999

if kind=='VIP':
  n=0
elif kind=='S':
  n=1
elif kind=='A':
  n=2
elif kind=='B':
  n=3

if n==999:
  print('해당 좌석은 표가 없는 잘 못된 좌석입니다.')

else:
  print('해당 좌석은',seat_kind[n],'으로 가격은',kind_price[n],'원 입니다.')

좌석 종류를 선택해 주세요:A
해당 좌석은 A 으로 가격은 90000 원 입니다.