<a href="https://colab.research.google.com/github/chldkduds2/2023-schoolAiMachineLearning/blob/main/2023_03_29_%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D_%EC%99%B8%EB%B6%80T(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [62]:
import gdown 
import pandas as pd

def data_cleaning(failName):

  #파일을 데이터프레임으로 읽기
  ns_df = pd.read_csv('{}'.format(failName),  low_memory=False, encoding='cp949')

  #NaN 하나 이상인 열을 삭제
  ns_book = ns_df.dropna(axis=1, how='all')

  #대출건수를 합치기 위해 필요한 행만 추출하여 새로운 데이터 프레임만들기 ('도서명','저자','ISBN','권','대출건수')
  count_df = ns_book[['도서명','저자','ISBN','권','대출건수']]

  #'도서명','저자','ISBN','권'을 기준으로 대출건수를 groupby하기 
  loan_count = ns_book.groupby(by=['도서명','저자','ISBN','권'], dropna=False).sum()


  #원본 데이터프레임에서 중복된 행을 제외하고 고유한 행만 추출하여 복사
  dup_rows = ns_df.duplicated(subset=['도서명','저자','ISBN','권'], keep=False)
  unique_rows = ~dup_rows
  ns_book3 = ns_book[unique_rows].copy()

  #도서명, 저자, ISBN, 권을 인덱스로 설정
  ns_book3.set_index(['도서명','저자','ISBN','권'], inplace=True)

  #loan_count에서 저장된 누적 대출건수 업데이트
  ns_book3.update(loan_count)

  #인덱스 설정
  ns_book4= ns_book3.reset_index()
  
  #원본 데이터프레임의 열 순서 변경
  ns_book4 = ns_book4[ns_book.columns]
  return ns_book4

ns_book = data_cleaning('대구 동구 신천도서관 장서 대출목록 (2023년 02월).csv')

In [63]:
new_ns_book = data_cleaning('대구 동구 신천도서관 장서 대출목록 (2023년 02월).csv')
ns_book.equals(new_ns_book)

True