<a href="https://colab.research.google.com/github/chldkduds2/2023-schoolAiMachineLearning/blob/main/2023_03_15_%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D_%EC%99%B8%EB%B6%80T(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# API 사용하기
- 파이썬에서 json 데이터 다루기

In [1]:
#json 형식으로 파이썬 딕셔너리 생성
d = {'name': '혼자 공부하는 데이터 분석'}
print(d['name'])

혼자 공부하는 데이터 분석

In [2]:
#파이썬 객체를 json 문자열로 변환하기 (json.dumps()함수)
import json
d_str = json.dumps(d, ensure_ascii=False)
print(d_str)

{"name": "혼자 공부하는 데이터 분석"}

In [3]:
print(type(d_str)) #class -> json 형태

<class 'str'>

In [30]:
#json 파일을 딕셔너리로 변환하기 (json.loads()함수)
d2=json.loads(d_str)
print(d2['name'])
print(type(d2))
print(d2)

혼자 공부하는 데이터 분석
<class 'dict'>
{'name': '혼자 공부하는 데이터 분석'}

In [14]:
d3=json.loads('{"name": "혼자 공부하는 데이터 분석", "author":"박해선","year":2022}')
print(d3['name'])
print(d3['author'])
print(d3['year'])

혼자 공부하는 데이터 분석
박해선
2022

In [16]:
#딕셔너리 안에 배열 접근
d3=json.loads('{"name": "혼자 공부하는 데이터 분석", "author":["박해선","홍길동"],"year":2022}') # json의 하나의 객체로
print(d3['author'][1])

홍길동

In [20]:
# json.loads()함수를 사용해 파이썬 객체 변환
d4_str="""
[
  {"name":"혼자 공부하는 데이터 분석", "author":"박해선", "year":2022},
  {"name":"혼자 공부하는 머신러닝+딥러닝", "author":"박해선", "year":2020}
]
"""
d4=json.loads(d4_str)
print(d4[0]["name"])
print(d4[1]["name"])

혼자 공부하는 데이터 분석
혼자 공부하는 머신러닝+딥러닝

In [21]:
#josn문자열을 데이터 프레임으로 변환하기 (read_json()함수)
import pandas as pd
pd.read_json(d4_str)

               name author  year
0    혼자 공부하는 데이터 분석    박해선  2022
1  혼자 공부하는 머신러닝+딥러닝    박해선  2020

In [22]:
#파이썬 객체로 만든 Json문자열을 데이터 프레임으로 만들기
pd.DataFrame(d4)

               name author  year
0    혼자 공부하는 데이터 분석    박해선  2022
1  혼자 공부하는 머신러닝+딥러닝    박해선  2020

- 파이썬에서 XML(웹 개발 문법) 다루기

In [24]:
x_str="""
<book>
  <name>혼자 공부하는 데이터 분석</name>
  <author>박해선</author>
  <year>2022</year>
</book>
"""

<book>
  <name>혼자 공부하는 데이터 분석</name>
  <author>박해선</author>
  <year>2022</year>
</book>

In [29]:
#문자열을 XML형식으로 변환
import xml.etree.ElementTree as et
book = et.fromstring(x_str)
print(type(book))
print(book.tag) #해당 변수의 XML문법 적용 태그 출력

<class 'xml.etree.ElementTree.Element'>
book

In [32]:
#자식 엘리먼트 확인하기 (findtext()메서드)
book_childs=list(book)
print(book_childs)

[<Element 'name' at 0x7fb593e1c4f0>, <Element 'author' at 0x7fb593e1c7c0>, <Element 'year' at 0x7fb593e1cd10>]

In [36]:
#book_childs리스트 각 항목을 변수에 할당하고 text속성으로 엘리먼트 텍스트 출력

#잘 못된 예시 (안정성 X)
name, author,year=book_childs
print(name.text)
print(author.text)
print(year.text)

혼자 공부하는 데이터 분석
박해선
2022

In [34]:
#잘 된 예시 (안정성 O)
name = book.findtext('name')
author = book.findtext('author')
year = book.findtext('year')
print(name)
print(author)
print(year)

혼자 공부하는 데이터 분석
박해선
2022

In [45]:
x2_str="""
 <books>
  <book>
    <name>혼자 공부하는 데이터 분석</name>
    <author>박해선</author>
    <year>2022</year>
  </book>

    <book>
    <name>혼자 공부하는 머신러닝+딥러닝</name>
    <author>홍길동</author>
    <year>2020</year>
  </book>
 </books>
 """

In [47]:
#부모 엘리먼트 확인 (fromstring())
import xml.etree.ElementTree as et
books = et.fromstring(x2_str)
print(books.tag)

books

In [51]:
#여러 개의 자식 엘리먼트 확인 (findall())
for book in books.findall('book'):
  name=book.findtext('name')
  author = book.findtext('author')
  year = book.findtext('year')
  print(name)
  print(author)
  print(year)
  print('-'*30)

혼자 공부하는 데이터 분석
박해선
2022
------------------------------
혼자 공부하는 머신러닝+딥러닝
홍길동
2020
------------------------------

In [52]:
#XML을 josn으로 판단스를 이용해 바꾸기
pd.read_xml(x2_str)

               name author  year
0    혼자 공부하는 데이터 분석    박해선  2022
1  혼자 공부하는 머신러닝+딥러닝    홍길동  2020