<a href="https://colab.research.google.com/github/chldkduds2/2023-schoolAiMachineLearning/blob/main/2023_03_28_~_2023_03_29_%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D_%EC%99%B8%EB%B6%80T(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import gdown 
import pandas as pd
gdown.download('http://bit.ly/3RhoNho','ns_202104.csv', quiet=True)


def data_cleaning(failName):
  """

  남산도서관 장서 CSV 데이터 전처리 함수
  :param filename:ns_202104.csv
  """
  #파일을 데이터프레임으로 읽기
  ns_df = pd.read_csv('{}'.format(failName), low_memory=False)

  #NaN 하나 이상인 열을 삭제
  ns_book = ns_df.dropna(axis=1, how='all')

  #대출건수를 합치기 위해 필요한 행만 추출하여 새로운 데이터 프레임만들기 ('도서명','저자','ISBN','권','대출건수')
  count_df = ns_book[['도서명','저자','ISBN','권','대출건수']]

  #'도서명','저자','ISBN','권'을 기준으로 대출건수를 groupby하기 
  loan_count = ns_book.groupby(by=['도서명','저자','ISBN','권'], dropna=False).sum()


  #원본 데이터프레임에서 중복된 행을 제외하고 고유한 행만 추출하여 복사
  dup_rows = ns_df.duplicated(subset=['도서명','저자','ISBN','권'], keep=False)
  unique_rows = ~dup_rows
  ns_book3 = ns_book[unique_rows].copy()

  #도서명, 저자, ISBN, 권을 인덱스로 설정
  ns_book3.set_index(['도서명','저자','ISBN','권'], inplace=True)

  #loan_count에서 저장된 누적 대출건수 업데이트
  ns_book3.update(loan_count)

  #인덱스 설정
  ns_book4= ns_book3.reset_index()
  
  #원본 데이터프레임의 열 순서 변경
  ns_book4 = ns_book4[ns_book.columns]
  return ns_book4
  

data_cleaning('ns_202104.csv')

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1.0,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1.0,0.0,2021-03-19
1,2.0,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1.0,0.0,2021-03-19
2,3.0,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,NaN,1.0,0.0,2021-03-19
3,4.0,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,NaN,1.0,0.0,2021-03-19
4,5.0,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,NaN,1.0,0.0,2021-03-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...
369965,401674.0,소설의 사회사 비교론,조동일 지음,지식산업사,2001,9788942340262,9788942300365,NaN,3,809.3,1.0,0.0,1970-01-01
369966,401677.0,큰오빠,박정근 지음,우리문학사,1998,9788974231323,9788974231309,NaN,2,813.6,2.0,0.0,1970-01-01
369967,401678.0,韓國現代詩大系,채만묵 編著,한국문화사,1996,9788977352971,9788977352988,NaN,3,811.608,1.0,0.0,1970-01-01
369968,401679.0,뉴 웨이브,제임스 모나코 지음,한나래,1996,9788985367448,9788985367424,NaN,2,688.04,1.0,0.0,1970-01-01
369969,401681.0,독일 문학과 세계 문학,吳漢鎭 編著,벽호,1995,9788947700368,9788947700405,NaN,3,809.05,2.0,0.0,1970-01-01

In [ ]:
  ns_df = pd.read_csv('ns_202104.csv', low_memory=False)
  ns_df.columns

Index(['번호', '도서명', '저자', '출판사', '발행년도', 'ISBN', '세트 ISBN', '부가기호', '권',
       '주제분류번호', '도서권수', '대출건수', '등록일자', 'Unnamed: 13'],
      dtype='object')

In [ ]:
def data_cleaning(filename):
  
  ns_df = pd.read_csv(filename,low_memory=False)

  ns_book=ns_df.dropna(how='all')

  count_df = ns_book.loc[:,["도[서명","저자","ISBN","권","대출건수"]]

  loan_count = count_df.groupby(by = ["도서명","저자","ISBN","권"],dropna=False).sum()

  dup_rows = ns_book.duplicated(subset = ["도서명","저자","ISBN","권"])

  unique_rows = ~dup_rows

  ns_book3 = ns_book[unique_rows].copy()

  ns_book3.set_index(["도서명","저자","ISBN","권"],inplace=True)
  ns_book3.update(loan_count)

  ns_book4 = ns_book3.reset_index()

  ns_book4 = ns_book4[ns_book.columns]

  return ns_book4

data_cleaning('ns_202104.csv')

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자,Unnamed: 13
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0.0,2021-03-19,NaN
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0.0,2021-03-19,NaN
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,NaN,1,0.0,2021-03-19,NaN
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,NaN,1,0.0,2021-03-19,NaN
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,NaN,1,0.0,2021-03-19,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
384586,401674,소설의 사회사 비교론,조동일 지음,지식산업사,2001,9788942340262,9788942300365,NaN,3,809.3,1,0.0,1970-01-01,NaN
384587,401677,큰오빠,박정근 지음,우리문학사,1998,9788974231323,9788974231309,NaN,2,813.6,2,0.0,1970-01-01,NaN
384588,401678,韓國現代詩大系,채만묵 編著,한국문화사,1996,9788977352971,9788977352988,NaN,3,811.608,1,0.0,1970-01-01,NaN
384589,401679,뉴 웨이브,제임스 모나코 지음,한나래,1996,9788985367448,9788985367424,NaN,2,688.04,1,0.0,1970-01-01,NaN
384590,401681,독일 문학과 세계 문학,吳漢鎭 編著,벽호,1995,9788947700368,9788947700405,NaN,3,809.05,2,0.0,1970-01-01,NaN