<a href="https://colab.research.google.com/github/chldkduds2/2023-schoolAiMachineLearning/blob/main/2023_04_11%2C_18_%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D_%EC%99%B8%EB%B6%80T_(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import gdown
import pandas as pd
import numpy as np
gdown.download('http://bit.ly/3736JW1', 'ns_book6.csv', quiet=False)
ns_book6 = pd.read_csv('ns_book6.csv', low_memory=False)
ns_book6.head()

Downloading...
From: http://bit.ly/3736JW1
To: /content/ns_book6.csv
100%|██████████| 55.0M/55.0M [00:00<00:00, 144MB/s]

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021.0,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021.0,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021.0,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021.0,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021.0,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19

In [4]:
ns_book6.isna().sum()

번호              0
도서명             0
저자              0
출판사             0
발행년도            0
ISBN            0
세트 ISBN    323432
부가기호        71387
권          317884
주제분류번호      19729
도서권수            0
대출건수            0
등록일자            0
dtype: int64

In [5]:
#기술 통계 모두 구하기 (describe메서드)
ns_book6.describe()

                  번호           발행년도           도서권수           대출건수
count  379976.000000  379976.000000  379976.000000  379976.000000
mean   201726.332847    2008.516306       1.135874      11.504629
std    115836.454596       8.780529       0.483343      19.241926
min         1.000000    1947.000000       0.000000       0.000000
25%    102202.750000    2003.000000       1.000000       2.000000
50%    203179.500000    2009.000000       1.000000       6.000000
75%    301630.250000    2015.000000       1.000000      14.000000
max    401681.000000    2650.000000      40.000000    1765.000000

In [6]:
ns_book7 = ns_book6[ns_book6['도서권수']>0]
ns_book7.describe()

                  번호           발행년도           도서권수           대출건수
count  376770.000000  376770.000000  376770.000000  376770.000000
mean   202977.476649    2008.460076       1.145540      11.593439
std    115298.245784       8.773148       0.473853      19.279409
min         1.000000    1947.000000       1.000000       0.000000
25%    104488.250000    2003.000000       1.000000       2.000000
50%    204550.500000    2009.000000       1.000000       6.000000
75%    302346.750000    2015.000000       1.000000      14.000000
max    401681.000000    2650.000000      40.000000    1765.000000

In [7]:
ns_book7.describe(percentiles=[0.3,0.6,0.9])

                  번호           발행년도           도서권수           대출건수
count  376770.000000  376770.000000  376770.000000  376770.000000
mean   202977.476649    2008.460076       1.145540      11.593439
std    115298.245784       8.773148       0.473853      19.279409
min         1.000000    1947.000000       1.000000       0.000000
30%    124649.700000    2004.000000       1.000000       2.000000
50%    204550.500000    2009.000000       1.000000       6.000000
60%    243537.400000    2011.000000       1.000000       8.000000
90%    361341.100000    2018.000000       2.000000      28.000000
max    401681.000000    2650.000000      40.000000    1765.000000

In [8]:
#수치가 아닌 다른 데이터 타입 열의 기술 통계 보기 (include 옵션)
ns_book7.describe(include='object')

,도서명,저자,출판사,ISBN,세트 ISBN,부가기호,권,주제분류번호,등록일자
count,376770,376770,376770,376770,55866,308252,61793,359792,376770
unique,336408,248850,21875,350810,14875,17,834,12467,4562
top,승정원일기,세종대왕기념사업회 [편],문학동네,9788937430299,9788937460005,0,1,813.6,1970-01-01
freq,250,303,4410,206,702,158235,13282,14816,28185

In [9]:
#평균값 구하기 (for문, mean 메서드)
x= [10,20,30]
sum=0

for i in range(len(x)):
  sum+=x[i]
print('평균 : ',sum/len(x))

평균 :  20.0

In [10]:
ns_book7['대출건수'].mean()

11.593438968070707

In [11]:
#중앙값 구라기 (median 메서드)
ns_book7['대출건수'].median()

6.0

In [12]:

temp_df = pd.DataFrame([1,2,5,10,20])
temp_df.median()

0    5.0
dtype: float64

In [13]:
#중복값 제거하고 중앙값 구하기 (drop_duplicates() 메서드
ns_book7['대출건수'].drop_duplicates().median()

183.0

In [14]:
#최솟값 (min 메서드)
ns_book7['대출건수'].min()

0

In [15]:
#최대값 (max 메서드)
ns_book7['대출건수'].max()

1765

In [16]:
#통계 요약 (quantile 메서드) 
ns_book7['대출건수'].quantile(0.25) #하위 25%에 위치한 값

2.0

In [17]:
ns_book7['대출건수'].quantile([0.25,0.5,0.75])

0.25     2.0
0.50     6.0
0.75    14.0
Name: 대출건수, dtype: float64

In [18]:
pd.Series([1,2,3,4,5]).quantile(0.9) #5가지 수중 90%에 위치한 값

4.6

In [19]:
#백분위 구하기
borrow_10_flag = ns_book7['대출건수'] < 10
borrow_10_flag.mean()

0.6402712530190833

In [20]:
ns_book7['대출건수'].quantile(0.65)

10.0

In [21]:
borrow_10_flag.sum()

241235

In [22]:
241235/376770

0.6402712530190833

In [23]:
#분산 (var 메서드)
ns_book7['대출건수'].var()

371.69563042906674

In [24]:
#표준편차 (std 메서드)
ns_book7['대출건수'].std()

19.279409493785508

In [25]:
import numpy as np
diff = (ns_book7['대출건수']-ns_book7['대출건수'].mean())
np.sqrt(np.sum(diff**2)/len(ns_book7)-1)

19.25343200307804

In [26]:
#최빈값 (mode 메서드)
ns_book7['도서명'].mode()

ns_book7['발행년도'].mode()

0    2012.0
Name: 발행년도, dtype: float64

In [27]:
ns_book7.mean(numeric_only=True) #numeric_only=True : 각행의 평균 구하기 옵션

번호      202977.476649
발행년도      2008.460076
도서권수         1.145540
대출건수        11.593439
dtype: float64

In [28]:
ns_book7.loc[:,'도서명'].mode()
ns_book7.to_csv('ns_book7,csv', index=False)

# **npmpy**

In [29]:
import numpy as np
np.mean(ns_book7['대출건수'])

11.593438968070707

In [30]:
ns_book7['대출건수'].mean()

11.593438968070707

In [31]:
#가중 평균 게산 (average)
np.average(ns_book7['대출건수'], weights=1/ns_book7['도서권수'])

10.543612175385386

In [32]:
np.mean(ns_book7['대출건수']/ns_book7['도서권수'])

9.873029861445774

In [33]:
ns_book7['대출건수'].sum()/ns_book7['도서권수'].sum()

10.120503701300958

In [34]:
np.median(ns_book7['대출건수'])

6.0

In [35]:
ns_book7['대출건수'].median()

6.0

In [36]:
np.min(ns_book7['대출건수'])

0

In [37]:
ns_book7['대출건수'].min()

0

In [38]:
np.max(ns_book7['대출건수'])

1765

In [39]:
ns_book7['대출건수'].max()

1765

# 넘파이 기술 통계

In [42]:
# 분산 구하기

np.var(ns_book7['대출건수'])

371.6946438971496

In [44]:
ns_book7['대출건수'].var()

371.69563042906674

In [45]:
ns_book7['대출건수'].var(ddof=0) # 판자스 분산 결과

371.6946438971496

In [49]:
np.var(ns_book7['대출건수'], ddof=1) # 넘파이 분산 결과

371.69563042906674

In [47]:
# 표준편치 구하기
np.std(ns_book7['대출건수'])

19.27938390865096

In [52]:
# 최빈값 구하기
#unique (vlaues)고유한 값과, (counts)등장 횟수 배열 획득
values, counts = np.unique(ns_book7['도서명'], return_counts = True)
print(values, counts)

[' (꼭 필요한 것부터 쉽게 배우는) 자신만만 블로그 차근차근 배우기 ' ' (맨처음 배우는) 세상의 직업'
 ' (영잘원 리스닝과 패턴 영어의 절묘한 만남으로 태어난 ) 리스닝 ABC : 입문편 ' ... '＋α를 위한 도전'
 '＠좌절＋열공 :우리 시대 멘토 9인이 전하는 좌절 극복과 진짜 공부 이야기 ' 'ｉ'] [1 1 1 ... 1 1 1]

'승정원일기'

In [55]:
#counts가 가장 큰 값의 idx 도출 -> 이를 인덱스로 values 배열 값 찾음
max_idx = np.argmax(counts)
values[max_idx]

'승정원일기'

In [53]:
max_idx = np.argmax(counts)

In [54]:
values[max_idx]

'승정원일기'